<a href="https://colab.research.google.com/github/viveksure/StatMl-Assignment/blob/main/Copy_of_mean_square_error.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
with open('/gdrive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/gdrive/My Drive/foo.txt'

In [ ]:
data=pd.read_csv('/content/assignment aml xl.csv')

In [ ]:
beta=pd.read_csv('/content/beta aml assignment.csv')

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
with open('/gdrive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/gdrive/My Drive/foo.txt'

Hello Google Drive!

In [ ]:
data.head()

   Years(X1)  Salary(Y)
0        3.2      54445
1        3.2      64445
2        3.7      57189
3        3.9      63218
4        4.0      55794

In [ ]:
beta.head()

    beta 0  beta 1
0     1235    1900
1     1500    1950
2     1850    2000
3     2000    2100

In [ ]:
import numpy as np
x1=data['Years(X1)']

In [ ]:
y=data['Salary(Y)']

In [ ]:
b1=beta['beta 1']

In [ ]:
b0=beta[' beta 0']

In [ ]:
i=0
j=0
y1bar=[]
y2bar=[]
y3bar=[]
y4bar=[]
while i<len(y):
  y1bar.append(b0[j]+x1[i]*b1[j])
  i=i+1
i=0
j=1
while i<len(y):
  y2bar.append(b0[j]+x1[i]*b1[j])
  i=i+1
i=0
j=2
while i<len(y):
  y3bar.append(b0[j]+x1[i]*b1[j])
  i=i+1
i=0
j=3
while i<len(y):
  y4bar.append(b0[j]+x1[i]*b1[j])
  i=i+1

In [ ]:
print(y1bar,sep=',')
print('\n')
print(y2bar,sep=',')
print('\n')
print(y3bar,sep=',')
print('\n')
print(y4bar,sep=',')

[7315.0, 7315.0, 8265.0, 8645.0, 8835.0, 8835.0, 9025.0, 9785.0, 10545.0, 10925.0, 11305.0, 12445.0, 12635.0]


[7740.0, 7740.0, 8715.0, 9105.0, 9300.0, 9300.0, 9495.0, 10275.0, 11055.0, 11445.0, 11835.0, 13005.0, 13200.0]


[8250.0, 8250.0, 9250.0, 9650.0, 9850.0, 9850.0, 10050.0, 10850.0, 11650.0, 12050.0, 12450.0, 13650.0, 13850.0]


[8720.0, 8720.0, 9770.0, 10190.0, 10400.0, 10400.0, 10610.0, 11450.0, 12290.0, 12710.0, 13130.0, 14390.0, 14600.0]

In [ ]:
for i in range(0,len(x1)):
  y1bar[i]=(y1bar[i]-y[i])**2
  y2bar[i]=(y2bar[i]-y[i])**2
  y3bar[i]=(y3bar[i]-y[i])**2
  y4bar[i]=(y4bar[i]-y[i])**2

In [ ]:
print(y1bar,sep=',')
print('\n')
print(y2bar,sep=',')
print('\n')
print(y3bar,sep=',')
print('\n')
print(y4bar,sep=',')

[2221236900.0, 3263836900.0, 2393557776.0, 2978212329.0, 2205147681.0, 2315726884.0, 2309379136.0, 2634358276.0, 3293956449.0, 3036450816.0, 5152799089.0, 4749690724.0, 6610503025.0]


[2181357025.0, 3215457025.0, 2349728676.0, 2928216769.0, 2161692036.0, 2271189649.0, 2264427396.0, 2584298896.0, 3235675689.0, 2979413056.0, 5076990009.0, 4672816164.0, 6518947600.0]


[2133978025.0, 3157878025.0, 2298147721.0, 2869530624.0, 2110851136.0, 2219069449.0, 2211914961.0, 2526168121.0, 3168338944.0, 2913732441.0, 4989727044.0, 4585050369.0, 6414408100.0]


[2090775625.0, 3105275625.0, 2248561561.0, 2811968784.0, 2060615236.0, 2167554249.0, 2159553841.0, 2466214921.0, 3096699904.0, 2842915761.0, 4894121764.0, 4485382729.0, 6294835600.0]

In [ ]:
y1,y2,y3,y4=0,0,0,0
for i in range(0,len(x1)):
  y1=y1+y1bar[i]
  y2=y2+y2bar[i]
  y3=y3+y3bar[i]
  y4=y4+y4bar[i]

In [ ]:
y1=y1/len(x1)
print(y1)
y2=y2/len(x1)
print(y2)
y3=y3/len(x1)
print(y3)
y4=y4/len(x1)
print(y4)

3320373537.3076925
3264631537.6923075
3199907304.6153846
3132651969.230769

In [ ]:
if y1<y2:
  x=y1
  i=0
else:
  x=y2
  i=1
if x<y3:
  z=x
  i=1
else:
  z=y3
  i=2
if z<y4:
  f=z
  i=2
else:
  f=y4
  i=3
print("the best beeta values are:",b0[i],b1[i])

the best beeta values are: 2000 2100